@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}

footer{

    position: relative; /* Change to relative to be part of the normal flow */
    width: 100%;
    min-height: 60px; /* Minimum height of the footer */
    background-color: #f8f9fa;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

main {
    padding-bottom: 60px; 
}


.image {
    max-width: 100%;
    height: auto;
}
.content-container {
    max-width: 1200px; /* Limiter la largeur pour éviter le chevauchement */
    margin: auto; /* Centrer la section principale */
}

.spacing-md {
    padding: 0 15px; /* Ajouter du padding horizontal */
}